Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.dirstamp
src/STInfosysDatabaseConnection.o
src/STLoaderConfiguration.o
src/WDBDatabaseConnection.o
src/main.o
stamp-h1
wdbstationsloader
