Source: wdb-stationload  
Section: science
Priority: extra
Maintainer: Aleksandar Babic <wdb@met.no>
Build-Depends: debhelper (>= 5),
 autotools-dev,
 libwdbload1
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.1

Package: wdb-stationload
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libwdbload1
Description: Load met.no weather station info into wdb
 A loader program for transferring weather stations meta-data 
 from STINFOSYS database into a wdb database
